#spring.web.resources.static-locations=classpath:/static/
server.error.whitelabel.enabled=false

## For Dev Only
#spring.datasource.driver-class-name=org.h2.Driver
#spring.datasource.url=jdbc:h2:mem:
#spring.datasource.data-username=
#spring.datasource.data-password=
spring.h2.console.enabled=false


## Use MariaDB in production
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.datasource.url=jdbc:mariadb://
spring.datasource.sql-script-encoding=UTF-8
### You should .gitignore or mask the following values to avoid data leaking
spring.datasource.username=
spring.datasource.password=
mybatis.mapper-locations=classpath:mapper/*Dao.xml

# Debug Logging
#logging.level.root=TRACE

## Use Redis to Control Authentication Attempts
spring.redis.host=127.0.0.1
spring.redis.port=6379
spring.redis.database=

## Spring Session Configuration
spring.session.store-type=redis
spring.session.timeout=900

## Issue 10: Allow Special HTTP Method to be used in form
spring.mvc.hiddenmethod.filter.enabled=true

