<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
</head>
<body>
<h2>别想了 输出都转义了 CSRF都加Token了</h2>
<input type="hidden" value="这里真的没有sql注入">
<h1>商品详情</h1>
<table border="1">
    <tr>
        <td>商品名称</td>
        <td th:text="${itemName}">row 1, cell 2</td>
    </tr>
    <tr>
        <td>商品价格</td>
        <td th:text="${itemPrice}">row 2, cell 2</td>
    </tr>
    <tr>
        <td>商品状态</td>
        <td th:text="${itemStatus}">row 2, cell 2</td>
    </tr>
    <tr>
        <td>商品图片</td>
        <td><img th:src="${itemImage}"></td>
    </tr>
    <tr>
        <td>商品描述</td>
        <td th:text="${itemDesc}">row 2, cell 2</td>
    </tr>
</table>
</body>
</html>