<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form name="loginForm" th:action="@{/api/user/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <label for="rememberme">Check to Remember</label>
            <input type="checkbox" id="rememberme"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
    <a href="/show/user/register">Register</a>
    <a href="/show/user/logout">Logout</a>
</div>
<h1>听说，你想登陆？我不想做验证码了，你随意爆破吧。</h1>
<h1>我也没限制用户弱口令。 你试试？</h1>
</body>
</html>