<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
</head>
<body>
<h1>搜索</h1>
<div id="searchForm">
    <h2>精确搜索</h2>
    <form th:action="@{/api/search}" method="post">
        <input type="text" name="q" placeholder="Search" aria-label="search"/>
        <input type="submit" value="Go">
    </form>
</div>
<h1>搜索结果</h1>
<h2>搜索关键字：<span th:text="${searchKey}"></span></h2>
<table>
    <tr>
        <td>商品名称</td>
        <td>商品价格</td>
        <td>商品状态</td>
        <td>商品图片</td>
        <td>商品描述</td>
        <td>加入购物车</td>
    </tr>
    <tr th:each="searchResult:${searchResult}">
        <td th:text="${searchResult.name}">商品名称</td>
        <td th:text="${searchResult.price}">商品价格</td>
        <td th:text="${searchResult.status}">商品状态</td>
        <td><img th:src="${searchResult.image}"></td>
        <td th:text="${searchResult.descr}">商品描述</td>
        <td><button>加入购物车</button></td>
    </tr>
</table>
</body>
</html>