<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">首页</a>
<div>
    <tr th:each="sItem:${list}">
        <table border="8">
            <caption>商品展示</caption>
            <tr>
                <td>商品名</td>
                <td>价格</td>
                <td>图片</td>
                <td>描述</td>
            </tr>
            <tr>
                <td>
                    <h5 th:text="${sItem.name}"></h5>
                </td>
                <td>
                    <h5 th:text="${sItem.price}"></h5>
                </td>
                <td>
                    <img th:src="${sItem.image}">
                </td>
                <td>
                    <h5 th:text="${sItem.descr}"></h5>
                </td>
            </tr>
        </table>
        <hr>
    </tr>
</div>

</body>
</html>